
/* CSS */
button {
  background-color: blue;
  transition: background-color 0.3s ease;
  
    /* Additional button styling */
    color: white;
    padding: 10px 20px;
    border-radius: 15px;}

button:hover {
  background-color: green;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .element {
    animation: fadeIn 2s ease-in-out;
  }

  :root {
    --main-color: #3498db;
    --secondary-color: #2ecc71;
  }

  h1 {
    color: var(--main-color);
  }

  p {
    color: var(--secondary-color);
  }
  